PORT=4000
MONGO_URI=mongodb://localhost:27017/livechat
JWT_SECRET=replace_with_strong_secret
CLIENT_URL=https://chat.p196hql.qzz.io

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://chat.p196hql.qzz.io/api/auth/discord/callback
GIPHY_API_KEY=
